/.data
/deploy
/RESTWebService/classes
/RESTWebService/deploy
/RESTWebService/servers
/RESTWebService/public_html/WEB-INF/temp
/RESTWebService/public_html/META-INF/.WL_internal
/RESTModel/classes
/RESTModel/deploy
/RESTModel/servers
Model/deploy
/Model/classes
/lib/*.war